.favicon {
    position:absolute;
    right:10px;
    width:9%;
    height:70%;
    margin-top:2%;
}

html,
body,
#map {
    display: block;
}

#map {
    background: #58B;
    width: 100%;
    height: 100%;
}

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    overflow: visible;
}

.ui-content {
    padding: 0;
    position: absolute !important;
    top : 40px !important;
    right : 0;
    bottom : 40px !important;
    left : 0 !important;
}