/* 
	Position of POI-radar
	We advise you to use an absolute position for the element which will be referred to the radar container. 
	Keep in mind: In case the DOM element is updated on the fly via jQuery or responsive design use 'AR.radar.notifyUpdateRadarPosition();'
	to force radar position/size updates, otherwise the very first position/size will be used.
*/
/* position of POI-radar*/

.radarContainer_left {
    position:absolute;
    top:40px;
    left:0px;
    width:100px;
    height:100px;
}

.radarContainer_right {
    position:absolute;
    top:40px;
    right:0px;
    width:100px;
    height:100px;
}

#header-status  {position:fixed;z-index:10;top:0;width:100%}

.ui-mobile-viewport-transitioning .ui-header-fixed,
.ui-mobile-viewport-transitioning .ui-footer-fixed { visibility: hidden; }

.favicon {
    position:absolute;
    right:10px;
    width:12%;
    height:70%;
    margin-top:2%;
}
